<p>Sono nell'app component</p>

<!--questo è l'array di soli numeri-->
<p>questi sono i numeri nell'array</p>
<div class="array-pari" *ngFor="let count of counter">
  <p class="mx-5">{{ count }}</p>
</div>

<!--div con i pari -->
<p>questi sono i pari</p>
<div class="array-pari" *ngFor="let count of counter">
  <p class="mx-5" *ngIf="count % 2 == 0">{{ count }}</p>
</div>

<!--div con i dispari -->
<p>questi sono i dispari</p>
<div class="array-dispari" *ngFor="let count of counter">
  <p class="mx-5" *ngIf="count % 2 != 0">{{ count }}</p>
</div>
<app-herosection
  [mainText]="mainText"
  [secondText]="secondText"
></app-herosection>
